{% extends 'rango/dashboardbase.html' %}

{% load staticfiles %}

{% block title %} Rango {% endblock %}

{% block body_block %}
        <p> visits: {{ visits }}</p>
    <div>
        {% if user.is_authenticated %}

        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}
    </div>

    <div class="row placeholders">
        <div class="col-xs-1 col-sm-3 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
            </div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                     <li>
                         <a href="{% url 'category' category.slug  %}">{{ category.name }}</a>
                     </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
    </div>


        {% if viewmost %}
            <ul>
                {% for view in viewmost %}
                     <li>
                         <a href="{{ view.url }}">{{ view.title }}</a>
                     </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
{% endblock %}
